<div class="date-list-container">
  <h3>List of Available Dates</h3>

  <!-- List of dates -->
  <ul class="date-list">
    <li *ngFor="let date of dates" (click)="onSelectDate(date)" [class.selected]="date === selectedDate">
      {{ date }}
    </li>
  </ul>

  <div class="navigation-buttons">
    <button (click)="goToBeginning()" [disabled]="!isBackwardSelectionEnabled"> <fa-icon [icon]="faFastBackward"></fa-icon></button>
    <button (click)="goBackward()" [disabled]="!isBackwardSelectionEnabled"><fa-icon [icon]="faStepBackward"></fa-icon></button>
    <button (click)="goForward()" [disabled]="!isForwardSelectionEnabled"><fa-icon [icon]="faStepForward"></fa-icon></button>
    <button (click)="goToEnd()" [disabled]="!isForwardSelectionEnabled"><fa-icon [icon]="faFastForward"></fa-icon>
    </button>
  </div>

  <!-- Buttons at the bottom, stacked vertically -->
  <div class="button-group">
    <button [disabled]="!isRgbAvailable" [ngClass]="{'selected': selectedButton === 'natural_color'}" (click)="onRgbClick()">RGB</button>
    <button [disabled]="!isCloudAvailable" [ngClass]="{'selected': selectedButton === 'cloud'}" (click)="onCloudClick()">Cloud</button>
    <button [disabled]="!isSingleChannelAvailable" [ngClass]="{'selected': selectedButton === 'single-channel'}" (click)="onSingleChannelClick()">Single Channel</button>
  </div>


</div>
