venv/
.idea/
dev-db-data/

venv/*
mysql/*
mysql/
*.tif
geoserver_data/
dev-mongo-data/

*.pyc 
__pycache__


**/migrations/**
!**/migrations
!**/migrations/__init__.py

downloaded_files/*
downloaded_files/
ssh/
ssh/*

local_git
local_git/*

.gitserver
.gitserver/*
*.nc 
*.netcdf
*.geotiff
*.tiff
*.tif
/temp/
*.png
temp/*
tmet_sdk/


node_modules/

management-dashboard/ws-server/package-lock.json
prometheus/pgadmin-exporter/package-lock.json
template/able/yarn.lock
template/template1/vendors/abbrev/package-lock.json
template/template1/vendors/acorn/package-lock.json
template/template1/vendors/almond/package-lock.json
template/template1/vendors/amdefine/package-lock.json
template/template1/vendors/ansi-styles/package-lock.json
template/template1/vendors/argparse/package-lock.json
template/template1/vendors/array-each/package-lock.json
template/template1/vendors/array-slice/package-lock.json
template/template1/vendors/ast-transform/package-lock.json
template/template1/vendors/ast-types/package-lock.json
template/template1/vendors/async/package-lock.json
template/template1/vendors/babel-runtime/package-lock.json
template/template1/vendors/balanced-match/package-lock.json
template/template1/vendors/base64-js/package-lock.json
template/template1/vendors/bootstrap/package-lock.json
template/template1/vendors/bootstrap-input-spinner/package-lock.json
template/template1/vendors/bootstrap-tagsinput/package-lock.json
template/template1/vendors/bourbon/package-lock.json
template/template1/vendors/brace-expansion/package-lock.json
template/template1/vendors/braces/package-lock.json
template/template1/vendors/brfs/package-lock.json
template/template1/vendors/brotli/package-lock.json
template/template1/vendors/browser-resolve/package-lock.json
template/template1/vendors/buffer-equal/package-lock.json
template/template1/vendors/buffer-from/package-lock.json
template/template1/vendors/chalk/package-lock.json
template/template1/vendors/clone/package-lock.json
template/template1/vendors/color-convert/package-lock.json
template/template1/vendors/color-name/package-lock.json
template/template1/vendors/colors/package-lock.json
template/template1/vendors/concat-map/package-lock.json
template/template1/vendors/concat-stream/package-lock.json
template/template1/vendors/convert-source-map/package-lock.json
template/template1/vendors/core-util-is/package-lock.json
template/template1/vendors/cropperjs/package-lock.json
template/template1/vendors/cssify/package-lock.json
template/template1/vendors/datatables.net/package-lock.json
template/template1/vendors/datatables.net-bs4/package-lock.json
template/template1/vendors/datatables.net-buttons/package-lock.json
template/template1/vendors/datatables.net-buttons-bs4/package-lock.json
template/template1/vendors/datatables.net-buttons-dt/package-lock.json
template/template1/vendors/datatables.net-dt/package-lock.json
template/template1/vendors/datatables.net-responsive/package-lock.json
template/template1/vendors/datatables.net-responsive-dt/package-lock.json
template/template1/vendors/dateformat/package-lock.json
template/template1/vendors/daterangepicker/package-lock.json
template/template1/vendors/deep-equal/package-lock.json
template/template1/vendors/deep-is/package-lock.json
template/template1/vendors/detect-file/package-lock.json
template/template1/vendors/dfa/package-lock.json
template/template1/vendors/dropify/package-lock.json
template/template1/vendors/dropzone/package-lock.json
template/template1/vendors/duplexer2/package-lock.json
template/template1/vendors/easy-pie-chart/package-lock.json
template/template1/vendors/echarts/package-lock.json
template/template1/vendors/es6-promise/package-lock.json
template/template1/vendors/escodegen/package-lock.json
template/template1/vendors/esprima/package-lock.json
template/template1/vendors/estraverse/package-lock.json
template/template1/vendors/esutils/package-lock.json
template/template1/vendors/eve-raphael/package-lock.json
template/template1/vendors/exit/package-lock.json
template/template1/vendors/expand-tilde/package-lock.json
template/template1/vendors/extend/package-lock.json
template/template1/vendors/falafel/package-lock.json
template/template1/vendors/fast-levenshtein/package-lock.json
template/template1/vendors/fill-range/package-lock.json
template/template1/vendors/findup-sync/package-lock.json
template/template1/vendors/fined/package-lock.json
template/template1/vendors/flagged-respawn/package-lock.json
template/template1/vendors/flot/package-lock.json
template/template1/vendors/fontkit/package-lock.json
template/template1/vendors/for-in/package-lock.json
template/template1/vendors/for-own/package-lock.json
template/template1/vendors/foreach/package-lock.json
template/template1/vendors/fs.realpath/package-lock.json
template/template1/vendors/fullcalendar/package-lock.json
template/template1/vendors/function-bind/package-lock.json
template/template1/vendors/getobject/package-lock.json
template/template1/vendors/glob/package-lock.json
template/template1/vendors/global-modules/package-lock.json
template/template1/vendors/global-prefix/package-lock.json
template/template1/vendors/grunt-cli/package-lock.json
template/template1/vendors/grunt-known-options/package-lock.json
template/template1/vendors/grunt-legacy-log/package-lock.json
template/template1/vendors/grunt-legacy-log-utils/package-lock.json
template/template1/vendors/grunt-legacy-util/package-lock.json
template/template1/vendors/has/package-lock.json
template/template1/vendors/has-flag/package-lock.json
template/template1/vendors/hasown/package-lock.json
template/template1/vendors/homedir-polyfill/package-lock.json
template/template1/vendors/hooker/package-lock.json
template/template1/vendors/iconv-lite/package-lock.json
template/template1/vendors/immediate/package-lock.json
template/template1/vendors/inflight/package-lock.json
template/template1/vendors/inherits/package-lock.json
template/template1/vendors/ini/package-lock.json
template/template1/vendors/interpret/package-lock.json
template/template1/vendors/ion-rangeslider/package-lock.json
template/template1/vendors/is-absolute/package-lock.json
template/template1/vendors/is-core-module/package-lock.json
template/template1/vendors/is-extglob/package-lock.json
template/template1/vendors/is-glob/package-lock.json
template/template1/vendors/is-number/package-lock.json
template/template1/vendors/is-plain-object/package-lock.json
template/template1/vendors/is-relative/package-lock.json
template/template1/vendors/is-unc-path/package-lock.json
template/template1/vendors/is-windows/package-lock.json
template/template1/vendors/isarray/package-lock.json
template/template1/vendors/isexe/package-lock.json
template/template1/vendors/isobject/package-lock.json
template/template1/vendors/jasny-bootstrap/package-lock.json
template/template1/vendors/javascript-natural-sort/package-lock.json
template/template1/vendors/jquery/package-lock.json
template/template1/vendors/jquery-mousewheel/package-lock.json
template/template1/vendors/jquery-steps/package-lock.json
template/template1/vendors/jquery-toast-plugin/package-lock.json
template/template1/vendors/jquery-toggles/package-lock.json
template/template1/vendors/jquery.counterup/package-lock.json
template/template1/vendors/jquery.flot.tooltip/package-lock.json
template/template1/vendors/js-yaml/package-lock.json
template/template1/vendors/jszip/package-lock.json
template/template1/vendors/kind-of/package-lock.json
template/template1/vendors/levn/package-lock.json
template/template1/vendors/lie/package-lock.json
template/template1/vendors/liftup/package-lock.json
template/template1/vendors/lightgallery/package-lock.json
template/template1/vendors/linebreak/package-lock.json
template/template1/vendors/lodash/package-lock.json
template/template1/vendors/magic-string/package-lock.json
template/template1/vendors/magic-string/dist/magic-string.cjs.js
template/template1/vendors/magic-string/dist/magic-string.cjs.js.map
template/template1/vendors/magic-string/dist/magic-string.es.js
template/template1/vendors/magic-string/dist/magic-string.es.js.map
template/template1/vendors/magic-string/dist/magic-string.umd.js
template/template1/vendors/magic-string/dist/magic-string.umd.js.map
template/template1/vendors/make-iterator/package-lock.json
template/template1/vendors/map-cache/package-lock.json
template/template1/vendors/merge-source-map/package-lock.json
template/template1/vendors/micromatch/package-lock.json
template/template1/vendors/minimatch/package-lock.json
template/template1/vendors/minimist/package-lock.json
template/template1/vendors/morris.js/package-lock.json
template/template1/vendors/nestable2/package-lock.json
template/template1/vendors/nopt/package-lock.json
template/template1/vendors/object-inspect/package-lock.json
template/template1/vendors/object-keys/package-lock.json
template/template1/vendors/object.defaults/package-lock.json
template/template1/vendors/object.map/package-lock.json
template/template1/vendors/object.pick/package-lock.json
template/template1/vendors/once/package-lock.json
template/template1/vendors/optionator/package-lock.json
template/template1/vendors/os-homedir/package-lock.json
template/template1/vendors/os-tmpdir/package-lock.json
template/template1/vendors/osenv/package-lock.json
template/template1/vendors/owl.carousel/package-lock.json
template/template1/vendors/pako/package-lock.json
template/template1/vendors/parse-filepath/package-lock.json
template/template1/vendors/parse-passwd/package-lock.json
template/template1/vendors/path-is-absolute/package-lock.json
template/template1/vendors/path-parse/package-lock.json
template/template1/vendors/path-root/package-lock.json
template/template1/vendors/path-root-regex/package-lock.json
template/template1/vendors/pdfkit/package-lock.json
template/template1/vendors/pdfmake/package-lock.json
template/template1/vendors/peity/package-lock.json
template/template1/vendors/pickr-widget/package-lock.json
template/template1/vendors/picomatch/package-lock.json
template/template1/vendors/png-js/package-lock.json
template/template1/vendors/popper.js/package-lock.json
template/template1/vendors/process-nextick-args/package-lock.json
template/template1/vendors/quote-stream/package-lock.json
template/template1/vendors/raphael/package-lock.json
template/template1/vendors/raphael/yarn.lock
template/template1/vendors/readable-stream/package-lock.json
template/template1/vendors/rechoir/package-lock.json
template/template1/vendors/regenerator-runtime/package-lock.json
template/template1/vendors/resolve/package-lock.json
template/template1/vendors/resolve/test/module_dir/zmodules/bbb/package-lock.json
template/template1/vendors/resolve/test/resolver/baz/package-lock.json
template/template1/vendors/resolve/test/resolver/browser_field/package-lock.json
template/template1/vendors/resolve/test/resolver/dot_main/package-lock.json
template/template1/vendors/resolve/test/resolver/dot_slash_main/package-lock.json
template/template1/vendors/resolve/test/resolver/false_main/package-lock.json
template/template1/vendors/resolve/test/resolver/incorrect_main/package-lock.json
template/template1/vendors/resolve/test/resolver/invalid_main/package-lock.json
template/template1/vendors/resolve/test/resolver/multirepo/package-lock.json
template/template1/vendors/resolve/test/resolver/nested_symlinks/mylib/package-lock.json
template/template1/vendors/resolve/test/resolver/symlinked/package/package-lock.json
template/template1/vendors/resolve-dir/package-lock.json
template/template1/vendors/restructure/package-lock.json
template/template1/vendors/safe-buffer/package-lock.json
template/template1/vendors/safer-buffer/package-lock.json
template/template1/vendors/select2/package-lock.json
template/template1/vendors/shallow-copy/package-lock.json
template/template1/vendors/shoestring/package-lock.json
template/template1/vendors/source-map/package-lock.json
template/template1/vendors/sprintf-js/package-lock.json
template/template1/vendors/static-eval/package-lock.json
template/template1/vendors/static-module/package-lock.json
template/template1/vendors/string_decoder/package-lock.json
template/template1/vendors/supports-color/package-lock.json
template/template1/vendors/supports-preserve-symlinks-flag/package-lock.json
template/template1/vendors/switchery/package-lock.json
template/template1/vendors/tablesaw/package-lock.json
template/template1/vendors/through/package-lock.json
template/template1/vendors/through2/package-lock.json
template/template1/vendors/tiny-inflate/package-lock.json
template/template1/vendors/tinymce/package-lock.json
template/template1/vendors/to-regex-range/package-lock.json
template/template1/vendors/type-check/package-lock.json
template/template1/vendors/typedarray/package-lock.json
template/template1/vendors/unc-path-regex/package-lock.json
template/template1/vendors/underscore.string/package-lock.json
template/template1/vendors/unicode-properties/package-lock.json
template/template1/vendors/unicode-trie/package-lock.json
template/template1/vendors/util-deprecate/package-lock.json
template/template1/vendors/v8flags/package-lock.json
template/template1/vendors/vlq/package-lock.json
template/able/yarn.lock
template/template1/vendors/babel-runtime/package-lock.json
template/template1/vendors/magic-string/dist/magic-string.cjs.js
template/template1/vendors/magic-string/dist/magic-string.cjs.js.map
template/template1/vendors/magic-string/dist/magic-string.es.js
template/template1/vendors/magic-string/dist/magic-string.es.js.map
template/template1/vendors/magic-string/dist/magic-string.umd.js
template/template1/vendors/magic-string/dist/magic-string.umd.js.map
template/template1/vendors/raphael/yarn.lock
template/template1/vendors/vlq/dist/vlq.js
template/template1/vendors/waypoints/package-lock.json
template/template1/vendors/which/package-lock.json
template/template1/vendors/wordwrap/package-lock.json
template/template1/vendors/wrappy/package-lock.json
template/template1/vendors/xtend/package-lock.json
template/template1/vendors/zrender/package-lock.json
template/able/yarn.lock
template/template1/vendors/babel-runtime/package-lock.json
