venv/
.idea/
dev-db-data/

venv/*
db/*
mysql/*
mysql/
*.tif
geoserver_data/

*.pyc 
__pycache__


downloaded_files/*
downloaded_files/
ssh/
ssh/*

local_git
local_git/*

.gitserver
.gitserver/*
*.nc 
*.netcdf
*.geotiff
*.tiff
*.tif
/temp/
