venv/
.idea/
dev-db-data/

venv/*
mysql/*
mysql/
*.tif
geoserver_data/
dev-mongo-data/

*.pyc 
__pycache__


**/migrations/**
!**/migrations
!**/migrations/__init__.py

downloaded_files/*
downloaded_files/
ssh/
ssh/*

ssl/
ssl/*

local_git
local_git/*

.gitserver
.gitserver/*
*.nc 
*.netcdf
*.geotiff
*.tiff
*.tif
/temp/
temp/*
tmet_sdk/


node_modules/

management-dashboard/ws-server/package-lock.json
prometheus/pgadmin-exporter/package-lock.json



