/* styles.css */
.data-table-row {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.data-table-row td {
    padding: 15px;
}

.data-table-custom .p-datatable-tbody > tr > td {
    padding: 10px 8px; /* Adjust as needed */
}

.orders-subtable .p-datatable-tbody > tr > td {
    padding: 10px 8px; /* Adjust as needed */
}

.product-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.status-done {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.status-pending {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.orders-subtable {
    padding: 1rem;
}



/* General table styles */
.tableContainer {
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;

}

.table th {
    background-color: #6200ee; /* Header background color */
    color: #ffffff; /* Header text color */
    font-weight: bold;
    font-size: 14px;
}

.table td {
    font-size: 14px;
    color: #333333;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row color */
}

.table tr:hover {
    background-color: #f1f1f1; /* Hover effect */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.pagination button {
    background-color: #6200ee; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #3700b3; /* Darker background on hover */
}

.pagination button:disabled {
    background-color: #d3d3d3; /* Disabled button background */
    cursor: not-allowed;
}

.clickableId {
    color: #6200ee;
    cursor:crosshair;
    text-decoration: underline;
  }
  
  .clickableId:hover {
    color: #3700b3; /* Darker color on hover */
  }