<mat-toolbar color="primary" class="toolbar">
  <!-- Left Side: Hamburger Menu -->
  <button mat-icon-button aria-label="Menu" class="left-menu" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Center: Middle Buttons -->
  <div class="middle-buttons">
    <button mat-button [disabled]="!isMsgAvailable" [ngClass]="{'selected': (selectedMission === MSG)}" (click)="onMissionButtonClick(MSG)">{{MSG}}</button>
    <button mat-button [disabled]="!isIodcAvailable" [ngClass]="{'selected': (selectedMission === IODC)}" (click)="onMissionButtonClick(IODC)">{{IODC}}</button>
    <button mat-button [disabled]="!isRssAvailable" [ngClass]="{'selected': (selectedMission === RSS)}" (click)="onMissionButtonClick(RSS)">{{RSS}}</button>
    <button mat-button [disabled]="!isMtgAvailable" [ngClass]="{'selected': (selectedMission === MTG)}" (click)="onMissionButtonClick(MTG)">{{MTG}}</button>
  </div>

  <!-- Right Side: User Info and Logout -->
  <div class="user-info">
    <img src="assets/tmet_logo.png" />
    <span class="username">{{ username }}</span>
    <button mat-button class="logout-button" (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar>
